@import '@/theme/_breakpoint.scss';
@import '@/theme/_palette.scss';

.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;

  .header {
    padding: 16px;
    background-color: $primary-main;
    color: white;

    @include respond-to('sm') {
      padding: 16px 40px;
    }
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 1rem;

  .brand {
    width: 100%;
    color: white;
    text-align: center;

    @include respond-to('sm') {
      width: unset;
    }
  }

  .actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 24px;

    @include respond-to('sm') {
      gap: 40px;
    }
  }
}