@import '@/theme/_breakpoint.scss';
@import '@/theme/_palette.scss';
@import '@/theme/_mixins.scss';

.gogo {
  color: $primary-main;

  @include respond-to('md') {
    color: red;
  }
}

.main {
  margin-top: 125px;
  padding: 0 pxToVw(32);

  @include respond-to('md') {
    margin-top: 100px;
  }
}