@import '@/theme/_mixins.scss';
@import '@/theme/_breakpoint.scss';
@import '@/theme/_palette.scss';

.search {
  &__title {
    border-bottom: pxToVw(1, true) solid #e1e7ee;
    margin-bottom: pxToVw(16, true);
    font-size: pxToVw(16, true);

    h3 {
      display: inline-block;
      color: $text-dark-gray;
      padding-top: pxToVw(16, true);
      padding-bottom: pxToVw(12, true);
      border-bottom: pxToVw(2, true) solid $primary-main;
    }
    
    span {
      color: $primary-main;
    }
  }

  mark {
    color: $highlight-red;
    background-color: transparent;
    font-size: pxToVw(12, true);
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin-left: pxToVw(-15, true);

    @include respond-to('sm') {
      margin-left: pxToVw(-10);
    }
  }

  @include respond-to('md') {
    &__title {
      border-bottom-width: pxToVw(1);
      margin-bottom: pxToVw(16);
      font-size: pxToVw(18);
  
      h3 {
        padding-bottom: pxToVw(12);
        padding-top: 0;
        border-bottom-width: pxToVw(2);
      }
    }
  
    mark {
      font-size: pxToVw(12);
    }
  }
}