@import '@/theme/_mixins.scss';
@import '@/theme/_palette.scss';
@import '@/theme/_breakpoint.scss';

.flashsale {
  &__wrapper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.06);
    margin: pxToVw(16, true) 0;
    border-radius: pxToVw(10, true);

    &:hover {
      button {
        opacity: 1 !important;
      }
    }
  }

  &__main {
    padding: pxToVw(16, true);
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: pxToVw(5, true);
  }

  &__header {
    padding: pxToVw(10, true) 0;
    font-size: pxToVw(16, true);

    &-title {
      display: flex;
      gap: pxToVw(12, true);
      align-items: center;

      h3 {
        color: $highlight-red;
        font-weight: 700;
        font-size: pxToVw(18, true);
      }

      span {
        color: $text-dark-gray;
      }
    }
  }

  @include respond-to('lg') {
    &__wrapper {
      margin: pxToVw(18) 0;
    }
  }

  @include respond-to('lg') {
    &__wrapper {
      border-width: pxToVw(0.5);
      margin: pxToVw(32) 0;
      border-radius: pxToVw(10);
    }
  
    &__main {
      padding: pxToVw(32);
    }
  
    &__products {
      padding-top: pxToVw(5);
    }
  
    &__header {
      padding: pxToVw(10) 0;
      font-size: pxToVw(16);
  
      &-title {
        gap: pxToVw(12);
        
        h3 {
          font-size: pxToVw(24);
        }
      }
    }
  }
}