@import '@/theme/_breakpoint.scss';
@import '@/theme/_palette.scss';
@import '@/theme/_mixins.scss';

.main {
  width: 100%;
  margin-top: 150px;
  padding: 0 pxToVw(32);

  @include respond-to('lg') {
    margin-top: 100px;
  }
}

.others {
  margin-top: pxToVw(56);
}

.product {
  &__detail {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    font-size: pxToVw(16, true);

    @include respond-to('md') {
      flex-direction: row;
      font-size: pxToVw(16);
    }
  }

  &__gallery {
    position: relative;
    flex: 0 0 40%;
  }

  &__information {
    flex: 0 0 60%;
  }

  &__review {
    margin: pxToVw(16) 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $text-dark-gray;

    span {
      color: rgb(255, 191, 0);
    }
  }

  &__price {
    border-radius: 8px;
    padding: pxToVw(16);
    background-color: #f2f5f8;

    &-current {
      color: $primary-main;
      font-weight: 700;
    }
  }

  &__discount {
    margin-top: pxToVw(8);
    display: flex;
    align-items: center;
    gap: pxToVw(8);

    .price-discounted {
      color: $text-dark-gray;
      text-decoration: line-through;
      font-weight: 400;
    }
  }

  &__discount-label {
    padding: pxToVw(4);
    font-weight: 600;
    font-size: pxToVw(10);
    background-color: $primary-main;
    color: white;
  }

  &__description {
    margin: pxToVw(32) 0;
    
    &-title {
      font-weight: 600;
      margin-bottom: pxToVw(8);
    }

    &-content {
      color: $text-dark-gray;
    }
  }

  &__actions {
    button {
      padding: pxToVw(18) pxToVw(40);
      background-color: $primary-main;
      color: white;
      font-size: pxToVw(18);
      border: none;
      cursor: pointer;
    }
  }

  &__divider {
    margin: pxToVw(32) 0;
    border: pxToVw(0.5) solid rgb(237, 237, 237);
  }

  &__report {
    color: $text-dark-gray;

    span {
      font-weight: 600;
    }
  }

  &__images-carousel {
    margin-top: 20px;
  }

  &__images-show {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4/4;
  
    @include respond-to('md') {
      display: block;
    }
  }

  &__information h1, &__price-current {
    font-size: pxToVw(24, true);

    @include respond-to('md') {
      font-size: pxToVw(32);
    }
  }
}

