@import '@/theme/_mixins.scss';
@import '@/theme/_breakpoint.scss';

.hero__wrapper {
  position: relative;
  margin: 0 pxToVw(-32, true) pxToVw(40, true) pxToVw(-32, true);

  @include respond-to('sm') {
    margin: 0 0 pxToVw(40) 0;
  }
}