@import '@/theme/_mixins.scss';
@import '@/theme/_breakpoint.scss';

.carousel {
  &__container {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
  }

  &__slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  &__slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;

    .img {
      width: 100%;
      height: auto;
      object-fit: contain;
    
      @include respond-to('sm') {
        height: pxToVw(350);
        object-fit: cover;
      }

      @include respond-to('lg') {
        height: pxToVw(350);
      }
    }
  }
}



.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  padding: pxToVw(5);
  background-color: white;
  display: none;

  @include respond-to('sm') {
    display: inline-block;
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: pxToVw(45);
    height: pxToVw(45);
    border-radius: 50%;
    background-color: #e0eefb;
  }

  &--prev {
    left: pxToVw(-25);
  }
  
  &--next {
    right: pxToVw(-25);
  }
}